<div id="upgradeAccount" class="modal fade in" tabindex="-1" data-width="500" style="display: none;" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 500px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Upgrade Account <a class="tooltips" data-placement="right" data-original-title="Upgrade account." href="#">(?)</a></h4>
            </div>

            <div class="modal-body">
                <div class="modalrow">


                    <div style="margin: 50px auto 50px;">
                        <div style="width:30px;margin:0px auto;"><i class="fa fa-unlock  fa-4x"></i></div>
                        <h1 style="text-align:center;">You've reached the limits of your plan. Upgrade now to create more applications.</h1>
                        <a href="/Upgrade" class="btn btn-warning col-md-12">Upgrade</a>
                    </div>
                </div>
            </div>
            @*  <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn">Cancel</button>

            </div>*@
        </div>
    </div>
</div>