<li class="">
    <a href="#tab_collection_{{fullreportid}}"
       data-toggle="tab"
       data-table="{{rawTableName}}"
       data-istable="true"
       data-contentWrapper="{{contentWrapper}}"
       class="reDrawColumns" style="display: inline-block;">
        {{headertitle}}
        <div class="closeTab"
             data-dismiss="report"
             data-toggle="tab"
             data-table="{{rawTableName}}"
             data-istable="true"
             data-contentWrapper="{{contentWrapper}}"
             aria-hidden="true">&#x2716;</div>
    </a>
</li>
