<div class="actions actionLink"
     name="BuilderActions"
     style="display: inline-block;">
    <div name="filterToggleLi"
         class="dropdown dropdown-quick-sidebar-toggler dtQuickActionPopover"
         style="display: inline-block;">
        <a href="javascript:;"
           type="button"
           data-toggle="{{sideBarState}}"
           data-filterdiv="{{FilterName}}"
           data-wrapper="{{BodyContentWrapper}}"
           data-owner="{{page}}"
           name="toggleFilters" title="Toggle Right Sidebar" class="btn btn-default dropdown-toggle dtQuickActionPopover" title="Show/Hide Filters Sidebar">

            <span class="fa fa-navicon" style="color: #aaaaaa !important"></span>
        </a>
    </div>
</div>
